{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/temporary-placeholder.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ treatment.name }}</h2>
            <!-- Content goes directly underneath this -->
            {{ treatment.description | safe }}
            <hr>
            <p>Duration: {{ treatment.duration }} minutes</p>
            <p>Price: €{{ treatment.price }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <!-- Back to all treatments link + TEMPORARY BOOKING + LOGIN/REGISTER LINKS FOR DEV PURPOSES - WILL BE UPDATED LATER -->
             <!-- Don't forget to add conditional book now-->
            <p><em><a href="{% url 'treatments' %}">&larr; Back to all treatments</a></em> <button>Book now</button> <em>Please</em> <strong><a href="{% url 'treatments' %}">Login/Register</strong></a> <em>to book</em></a></p>
        </div>
      </div>
</div>
{% endblock content %}