<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatments</title>
</head>
<!-- Temporary html treatments list layout for development purposes. To be updated at later stage -->
<body>
    <h1>Treatments</h1>
    {% for treatment in object_list %}
    <h2>{{treatment.name}}</h2>
    <p>{{treatment.excerpt}}</p>
    <p>{{treatment.price}}</p>
    {% endfor %}
</body>

</html>