{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 text-center">
            <img src="{{ treatment.featured_image.url }}" width="75%">
        </div>
        <div class="col-lg-8 col-md-6 col-12">
            <!-- Title goes between these h2 tags -->
            <h2>{{ treatment.name }}</h2>
            <!-- Content goes directly underneath this -->
            {{ treatment.description | safe }}
            <hr>
            <p>Requirements: 
                {{ treatment.requirements_details | safe }}</p>
            <hr>
            <p>Duration: {{ treatment.duration }} minutes</p>
            <p>Price: €{{ treatment.price }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <!-- Back to all treatments link + Book Now/Login/Register Links  -->
            <p><em><a href="{% url 'treatments' %}">&larr; Back to all treatments</a></em></p>
            <p>{% if user.is_authenticated %}
            <a href="{% url 'booking' %}" class="btn btn-primary">Book now</a>
            {% else %}<em>Please</em> <strong><a class="link" href="{{ login_url }}">Login</strong></a> or <strong><a class="link" href="{{ signup_url }}">Register</strong></a><em> to book</em></a></p>
            {% endif %}
        </div>
      </div>
</div>
{% endblock content %}