{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-12 text-center">
            <img class="col-12" src="{{ treatment.featured_image.url }}" alt="{{ treatment.featured_image.url }}-image">
        </div>
        <div class="col-lg-8 col-md-7 col-12">
            <h2>{{ treatment.name }}</h2>
            {{ treatment.description | safe }}
            <hr>
            <p>Requirements: 
                {{ treatment.requirements_details | safe }}</p>
            <hr>
            <p>Duration: {{ treatment.duration }} minutes</p>
            <p>Price: €{{ treatment.price }}</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <!-- Back to all treatments link + Book Now/Login/Register Links  -->
            <p><strong><em><a href="{% url 'treatments' %}" class="link">&larr; Back to all treatments</a></em></strong></p>
            <p>{% if user.is_authenticated %}
            <a href="{% url 'booking' %}" class="btn btn-primary" role="button" aria-label="Back to all Treatments">Book now</a>
            {% else %}<em>Please</em> <strong><a class="link" href="{{ login_url }}" role="button" aria-label="Login">Login</strong></a> or <strong><a class="link" href="{{ signup_url }}" role="button" aria-label="Register">Register</strong></a><em> to book</em></a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}