{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 my-5">
        <h2>Book an Appointment</h2>
        <p>Please fill out the form below to book your appointment.</p>

        <form method="post" action="{% url 'booking' %}">
            {% csrf_token %}
            {{ form | crispy }}  <!-- Render the entire form using crispy -->
            <button class="btn btn-primary" type="submit">Book Now</button>
        </form>
    </div>
</div>

{% endblock content %}
