/* Global styles */

body {
    background-color: white;
}

.main-bg {
    background-color: white;
}

h1, h2, h3, h4 {
    margin-top: 25px;
    font-family: 'Dancing Script', cursive;
}

body, p {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand, .footer-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Nav bar */
li > .nav-btn {
    background-color: #13FBE2;
    border: #13FBE2;
    color: black;
    font-size: large;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 8px 12px;
    text-decoration: none;
    margin-left: 15px;
}

li > .nav-btn:hover {
    background-color: #0f9e90;
    color: white;
}

.navbar, footer {
    background-color: #008291;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand, .nav-link {
    color: white;
    margin: 0 10px;
}

.navbar-brand:hover {
    color: #13FBE2; 
}

.nav-link.active {
    border-bottom: 2px solid #13FBE2;
}

.navbar-nav .nav-link:hover {
    color: #13FBE2; 
}

.navbar-toggler {
    background: transparent; 
    border: none; 
}

.navbar-toggler-icon {
    background-image: none;
}

.navbar-toggler:before,
.navbar-toggler:after {
    content: '';
    display: block;
    width: 1.5em; 
    height: 2px; 
    background-color: white; 
    margin: 0.3em auto; 
}

.navbar-toggler:after {
    position: relative;
    content: '';
    display: block;
    width: 1.5em; 
    height: 2px; 
    background-color: white;
    margin-top: -0.9em; 
}

/* Hero section */
.carousel-caption {
    z-index: 1;
    background-color: rgba(0, 130, 145, 0.5);
}

.carousel-caption > h1 {
    font-size: 2rem;
    font-weight: 700;
}

.hero-logo {
    font-size: 2rem;
    margin: 5px;
}

/* Hero & About Text */
.hero-text, .about {
    background-color: #fafcf0;
    padding: 15px;
}


/* Card sections - Home & Treatments pages */
.card {
    border: none;
    background-color: transparent;
}

/* Buttons */
.btn-primary {
    color: white;
    background-color: #008291;
    border-color: #007481;
}

.btn-primary:hover {
    color: white;
    background-color: #005963;
    border-color: #00515a;
}

.btn-sm,
.btn-signup, 
.btn-contact,
.btn-edit,
.btn-cancel {
    background-color: #daa486;
    color: white;
    border-color: #c49176;
}

.btn-sm:hover,
.btn-edit:hover {
    background-color: #ac7f67;
    color: white;
    border-color: #8f6a56;
}

.btn-edit:hover {
    background-color: #ac7f67;
    color: white;
    border-color: #8f6a56;
}

.btn-delete {
    color: #fff;
    background: #f00101;
}

/* About section */
.about-image {
    max-width: 75%;
    border-radius: 50%;
}

.image-container {
    position: relative;
}


/* Footer section */
footer {
    padding-top: 15px;
}

footer a {
    color: white;
}

footer a:hover {
    color: #13FBE2; 
}

/* Feedback msgs */
.success {
    background-color: #13FBE2;
    border-radius: 4px;
    padding: 10px;
}

.error {
    background-color: #f00101;
    color: white;
    border-radius: 4px;
    padding: 10px;
} 

/* Register/Sign in links */
.link {
    color: #008291;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Media query for tablet and larger screens */
@media screen and (min-width: 768px){
.carousel-caption > h1 {
    font-size: 4rem;
}

.navbar-brand {
    font-size: 2rem;
}
}
